@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  color: #384047;
}
:root {
  --bgcoral: coral;
  --txtcolor: white;
  --bghover: rgb(248, 108, 58);
  --secondarywhite: #f4f4f4;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo {
  width: 40vw;
  height: 90vh;
  /* background-color: lightpink; */
}

.title {
  width: 100%;
  height: 3rem;
  background-color: var(--bgcoral);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}
.title h2 {
  color: var(--txtcolor);
}

.todo-container {
  width: 100%;
  height: 80vh;
  margin-top: 0.7rem;
  box-shadow: 0 4px 8px 0 rgba(190, 90, 90, 0.2);
  background-color: var(--secondarywhite);
  border-radius: 0.2rem;
 
}

/* todo-form */

.todo-form {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: lightgreen; */
}
.date-header {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--bgcoral);
}

.todo-form .date h4 {
  color: lightslategray;
  font-size: 0.9rem;
}
.btn-plus {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--bgcoral);
  cursor: pointer;
  transition: 0.3s ease;
}
.btn-plus:hover {
  background-color: var(--bghover);
}
.plus {
  color: var(--txtcolor);
  font-size: 1.5rem;
}


.todo-items{
  width: 100%;
  height: 50vh;
  overflow: auto;
}

/*todo data */
.todo-lists {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 2px solid #f0eded;
  display: flex;
  justify-content: space-between;
  transform: translateY(40px);
  opacity: 0;
  animation: todo-lists 0.8s ease-in-out forwards;

}
@keyframes todo-lists {
  0%{
    transform: translateY(40px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
  
}

.text {
  width: 80%;
  display: flex;
  align-items: center;
}
.todo-text {
  padding: 0 1rem;
}
/* form select */
.form-select {
  float: right;
  padding: 0.5rem;
  color: var(--txtcolor);
  background-color: var(--bgcoral);
  border: none;
  outline: none;
  font-size: 0.9rem;
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
/* todo data buttons */
.edit,
.delete {
  border: none;
  padding: 0.5rem;
  margin-left: 4px;
  cursor: pointer;
  color: var(--txtcolor);
}
.edit {
  background-color: deepskyblue;
}
.delete {
  background-color: var(--bgcoral);
}
/* popup modal  */

.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  width: 50vw;
  height: 50vh;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px 0 rgba(190, 90, 90, 0.2);
  border-radius: 0.2rem;
  animation: modal 0.5s;
}

@keyframes modal {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
  
}

.delete-modal{
  width: 50vw;
  height: auto;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px 0 rgba(190, 90, 90, 0.2);
  border-radius: 0.2rem;
  animation: delete-modal 0.5s;
}

@keyframes delete-modal {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
  
}

/* modal title */
.modal-title {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-title h3 {
  color: var(--bgcoral);
}
.close {
  font-size: 2rem;
  cursor: pointer;
}
.close:hover {
  color: var(--bgcoral);
}
/* 
modal body */
.form {
  width: 100%;
  height: auto;
  overflow: auto;
}
.form-content {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.form-content label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.95rem;
}
.form-control {
  border: 1px solid lightslategrey;
  padding: 0.8rem;
  font-size: 1rem;
  outline: none;
}
.form-val-error {
  border: 1px solid coral;
}
.error{
  color: var(--bgcoral);
  padding: 0.5rem 0rem;
}
.form-val-success {
  border: 1px solid lightgreen;
}

/* default button */

.btn-all {
  border: none;
  padding: 1rem;
  color: var(--txtcolor);
  cursor: pointer;
  margin: 0.2rem;
  border-radius: 0.2rem;
}
/* modal footer */
.modal-footer {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  /* justify-content: space-between; */
}

.no-tasks{
  color: var(--bgcoral);
  text-align: center;
  padding: 1rem;
}
.delete-div{
  width:100px;
  height: auto;
  margin: 0 auto;
}

/* delete list */

.delete-list-items{
  list-style: none;
  display: block;
  padding: 0.1rem;
}

/* checkbox */
.check-box{
width: 1rem;
height: 1rem;
}
